<div class="container-fluid">
    <div class="title d-flex justify-content-center mt-4">
        <h1>Registro Usuarios Nuevos</h1>
    </div>
    <div class="sub-container mt-4">
        <div class="card card_universal">
            <div class="card-body">
                <form action="" [formGroup]="registerForm">
                    <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput formControlName="nombre" type="text"  maxlength="50" minlength="3">
                                        <mat-error *ngIf="registerForm.get('nombre')?.hasError('minlength')">
                                            Mínimo 3 caracteres.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Apellido</mat-label>
                                        <input matInput formControlName="apellido">
                                        <mat-error *ngIf="registerForm.get('apellido')?.hasError('minlength')">
                                            Mínimo 3 caracteres.
                                        </mat-error>
                                    </mat-form-field>
                                </div>  
                            </div>                                
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <div class="row" style="width: 100%;">
                                <div class="col-12 container_email">
                                    <mat-form-field class="email">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email">
                                        <mat-error *ngIf="registerForm.get('email')?.hasError('emailFormat')">
                                            El formato de correo no es válido.
                                        </mat-error>
                                    </mat-form-field>
                                </div>           
                            </div> 
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Numero de documento</mat-label>
                                        <input matInput type="number" formControlName="numero_de_documento"[appInputMaxLength]='15'>
                                        <mat-error *ngIf="registerForm.get('numero_de_documento')?.hasError('numericMinLength')">
                                            Mínimo 6 caracteres.
                                        </mat-error>
                                    </mat-form-field>
                                </div>                                
                                <div class="col-6">                            
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Tipo de documento</mat-label>
                                           <select matNativeControl required formControlName="tipo_de_documento">
                                             <option selected></option>
                                             <option value="{{doc}}" *ngFor="let doc of documentos">{{doc}}</option>       
                                           </select>
                                    </mat-form-field>
                                </div>  
                            </div>                                
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <div class="row" style="width: 100%;">
                                <div class="col-6">                                    
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Cargo</mat-label>
                                        <input matInput formControlName="cargo">
                                        <mat-error *ngIf="registerForm.get('cargo')?.hasError('minlength')">
                                            Mínimo 5 caracteres.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">                                    
                                    <mat-form-field class="example-full-width">
                                     <mat-label>País</mat-label>
                                        <select matNativeControl required formControlName="pais">
                                          <option selected></option>
                                          <option value="{{country}}" *ngFor="let country of countries">{{country}}</option>       
                                        </select>
                                    </mat-form-field>
                                </div>            
                            </div> 
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                            <div class="row">
                                <div class="col-6">                                    
                                    <mat-form-field appearance="fill">
                                        <mat-label>Cliente</mat-label>
                                        <select matNativeControl required formControlName="cliente">
                                          <option selected></option>
                                          <option value="{{clien}}" *ngFor="let clien of clients">{{clien}}</option>       
                                        </select>
                                      </mat-form-field>
                                </div>                                
                                <div class="col-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Cliente final</mat-label>
                                        <select matNativeControl formControlName="cliente_final">
                                          <option selected></option>
                                          <option value="{{clien}}" *ngFor="let clien of final_client">{{clien}}</option>       
                                        </select>
                                      </mat-form-field>
                                </div>  
                            </div>                                
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <div class="row" style="width: 100%;">
                                <div class="col-6">                                    
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Direccion</mat-label>
                                        <input matInput formControlName="direccion">
                                        <mat-error *ngIf="registerForm.get('direccion')?.hasError('minlength')">
                                            Mínimo 6 caracteres.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Telefono</mat-label>
                                        <input matInput type="number" formControlName="telefono" [appInputMaxLength]="10">
                                        <mat-error *ngIf="registerForm.get('telefono')?.hasError('minlength')">
                                          Mínimo 6 caracteres.
                                        </mat-error>
                                      </mat-form-field>
                                </div>                                         
                            </div> 
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-start">
                            <mat-label>Foto</mat-label>                            
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <input type="file" formControlName="foto" (change)="upload($event)" >
                        </div>
                    </div>
                </form>
            </div>
        </div> 
        <div class="row d-flex justify-content-center mt-3 mb-5">
            <div class="col-3">
                <div class="col-2">
                    <button mat-mini-fab (click)="save()" class="circle_buttons" aria-label="Example icon button with a plus one icon">
                      <img src="../../../assets/icons/icons8-save-80.png" style="width: 20px;">
                    </button>
                </div>
            </div>        
        </div>        
    </div>
</div>