<div class="container-fluid">
    <div class="title d-flex justify-content-center mt-3">
        <h2>
            Dashboard Informes
        </h2>
    </div>
    <div class="sub-container mt-5 mb-3">
        <div class="card card_universal">
            <div class="card-body">
                <div class="table">
                    <table mat-table [dataSource]="dataSource"  id="registersCustomer" matSort>
                        <!-- Tipo Column -->
                        <ng-container matColumnDef="nombres">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                        </ng-container>        
                 
                        <!-- Duracion Column -->
                        <ng-container matColumnDef="fechainicio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha inicio </th>
                            <td mat-cell *matCellDef="let row" [ngSwitch]="row.type" class="justify-content-center">
                                 <p *ngSwitchDefault>{{row.fecha_inicio |  date: 'dd/MM/yyyy'}}</p>
                            </td>          
                        </ng-container>
                
                        <!-- Estado Column -->
                        <ng-container matColumnDef="fechafin">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha fin </th>
                            <td mat-cell *matCellDef="let row" [ngSwitch]="row.type">
                                <p *ngSwitchDefault>{{row.fecha_fin | date: 'dd/MM/yyyy'}}</p>
                            </td>
                        </ng-container>
                
                        <ng-container matColumnDef="numerodocumento">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero de documento</th>
                            <td mat-cell *matCellDef="let row" [ngSwitch]="row.type">
                                
                                <p *ngSwitchDefault>{{row.numero_de_documento}}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="activities">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                                <div style="width: 100%;" class="d-flex justify-content-center text-center">
                                    <span>Actividades</span>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let row" [ngSwitch]="row.type">
                                <div>
                                    <table>
                                        <thead>
                                          <tr>
                                            <th>Id</th>
                                            <th>Actividad</th>
                                            <th>Horas</th>
                                            <th>Fecha inicial</th>
                                            <th>Fecha final</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let actividad of row.actividades">
                                            <td>{{ actividad.id }}</td>
                                            <td>{{ actividad.data }}</td>
                                            <td>{{ actividad.hours }}</td>
                                            <td>{{ actividad.initial_date }}</td>
                                            <td>{{ actividad.final_date }}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>                                
                            </td>
                        </ng-container>
                
                        <ng-container matColumnDef="observaciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones del desarrolador</th>
                            <td mat-cell *matCellDef="let row" [ngSwitch]="row.type">
                                
                                <p *ngSwitchDefault>{{row.observaciones}}</p>
                            </td>
                        </ng-container>
                
                        <ng-container matColumnDef="responsablecliente">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsable cliente</th>
                            <td mat-cell *matCellDef="let row" [ngSwitch]="row.type">
                               
                                <p *ngSwitchDefault>{{row.responsable_cliente}}</p>
                            </td>
                        </ng-container>
                
                        <ng-container matColumnDef="totalhoras">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total horas</th>
                            <td mat-cell *matCellDef="let row" [ngSwitch]="row.type">                                
                                <p *ngSwitchDefault>{{row.total_horas}}</p>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No se encontraron llamadas</td>
                        </tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
            </div>
        </div> 
        <div class="row d-flex justify-content-center mt-3 mb-5">
            <button mat-mini-fab class="circle_buttons" (click)="exportExcel()"  aria-label="Example icon button with a plus one icon">
                <img src="../../../assets/icons/file-bar-graph-white.svg" style="width: 20px;">
            </button> 
        </div>           
    </div>
</div>