.card{
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    overflow: auto;
    padding-right: 10px;
}
.button_footer{
    opacity: 0.5;
}
.button_footer:hover{
    width: 60px;
    height: 60px;
    opacity: 1;
}
.option-image{
  width: 30px;
  height: 25px;
} 
.text{
    align-self: center
}