.image_container{
    width: 12%;
}
.logo_image{
    width: 100%;
}
.navbar-nav{
    width: 18%; 
}
.nav-item{
    width: 100%;
}
.logo{
    width: 50%;    
}
.logo:hover{
    cursor: pointer;
}
.icon{
    height: 40px;
    width: 30px;
}
.img_profile{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.img_profile_container{
    width: 103px;
    height: 103px;
    border: 2px solid black;
    border-radius: 100%;
}
::ng-deep .bg-body-tertiary{
    background-color: white!important;
    border-bottom: solid 1px #AB3BD5;
}
.icon_circule{
    height: 42px;
    width: 36px;
}
.number{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
    color: white;
    z-index: 2;
    position: relative;
    top: -10px;
    left: 20px;
    text-align: center;
}