#card-login{
    border-radius: 40px;
}
.history:hover{
    cursor: pointer;
}
h1{
    font-weight: bold;
}
.observation{
    width: 90%;
}
.date{
    width: 50%;
}
.points{
    margin: 0 5px 10px 5px;
}
mat-row{
    margin-top: 10px;
}
::ng-deep .mi-clase-mat-mini-fab {
    background-color: white !important;
}
.plus_one{
    z-index: 2;
    position: relative;
    top: -450px;
    left: -80px;
    width: 30px;
}
.plus_one_ext{
    z-index: 2;
    position: relative;
    top: -440px;
    left: -80px;
    width: 30px;
}