.icon-eye{
    position: absolute;
    margin-top: 5px;
    margin-right: -180px;
    width: 20px;
}
.icon-eye:hover{
    cursor: pointer;
}
.password_input{
    width: 70%;
}
.info{
    margin-left: 10px;
}
.inputs_passwords{
    align-self: center;
}
.error{
    color: red;
}
.row_class{
    width: 70%;
}