<div class="container-fluid">
    <div class="title d-flex justify-content-center mt-5" >
        <h1>
            Cambio de contraseña
        </h1>
    </div>
    <div class="password mt-5">
        <form action="" [formGroup]="changePassword">
            <div class="card card_universal">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 mt-2 d-flex justify-content-center">
                            <label for="" class="subtitles">Nueva contraseña</label>
                        </div>
                        <div class="col-12 mt-2 d-flex justify-content-center">
                            <mat-form-field class="example-full-width">
                                <mat-label>Contraseña</mat-label>                            
                                <input matInput placeholder="Nueva contraseña" type="password" formControlName="password">
                            </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-2 d-flex justify-content-center">
                            <label for="" class="subtitles">Escriba nuevamente la contraseña</label>
                        </div>
                        <div class="col-12 mt-2 d-flex justify-content-center">
                            <mat-form-field class="example-full-width">
                                <mat-label>Contraseña</mat-label>                            
                                <input matInput placeholder="Nueva contraseña" type="password" formControlName="newPassword">
                            </mat-form-field> 
                        </div>
                    </div>
                </div>
            </div> 
        </form>             
    </div>
    <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-3">
            <div class="col-2">
                <button mat-mini-fab class="circle_buttons" aria-label="Example icon button with a plus one icon" (click)="save()">
                  <img src="../../../assets/icons/icons8-save-80.png" style="width: 20px;">
                </button>
            </div>
        </div>        
    </div> 
</div>